 /**
 * 通用css样式布局处理
 */

 /** 基础通用 **/
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml0 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.m20 {
  margin-left: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.el-dialog:not(.is-fullscreen) {
  margin-top: 6vh !important;
}

.el-dialog__wrapper.scrollbar .el-dialog .el-dialog__body {
    overflow: auto;
  overflow-x: hidden;
  max-height: 70vh;
  padding: 10px 20px 0;
}

.el-table {
  .el-table__header-wrapper, .el-table__fixed-header-wrapper {
    th {
      word-break: break-word;
      background-color: #f8f8f9;
      color: #515a6e;
      height: 40px;
      font-size: 13px;
    }
  }
  .el-table__body-wrapper {
    .el-button [class*="el-icon-"] + span {
      margin-left: 1px;
    }
  }
}

/** 表单布局 **/
.form-header {
    font-size:15px;
  color:#6379bb;
  border-bottom:1px solid #ddd;
  margin:8px 10px 25px 10px;
  padding-bottom:5px
}

/** 表格布局 **/
.pagination-container {
  position: relative;
  height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 10px 20px !important;
}

/* tree border */
.tree-border {
    margin-top: 5px;
    border: 1px solid #e5e6e7;
    background: #FFFFFF none;
    border-radius:4px;
}

.pagination-container .el-pagination {
  right: 0;
  position: absolute;
}

@media ( max-width : 768px) {
  .pagination-container .el-pagination > .el-pagination__jump {
    display: none !important;
  }
  .pagination-container .el-pagination > .el-pagination__sizes {
    display: none !important;
  }
}

.el-table .fixed-width .el-button--mini {
  padding-left: 0;
  padding-right: 0;
  width: inherit;
}

/** 表格更多操作下拉样式 */
.el-table .el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
  margin-left: 5px;
}

.el-table .el-dropdown, .el-icon-arrow-down {
  font-size: 12px;
}

.el-tree-node__content > .el-checkbox {
  margin-right: 8px;
}

.list-group-striped > .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.list-group {
  padding-left: 0px;
  list-style: none;
}

.list-group-item {
  border-bottom: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  margin-bottom: -1px;
  padding: 11px 0px;
  font-size: 13px;
}

.pull-right {
  float: right !important;
}

.el-card__header {
  padding: 14px 15px 7px;
  min-height: 40px;
}

.el-card__body {
  padding: 15px 20px 20px 20px;
}

.card-box {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
}

/* button color */
.el-button--cyan.is-active,
.el-button--cyan:active {
  background: #20B2AA;
  border-color: #20B2AA;
  color: #FFFFFF;
}

.el-button--cyan:focus,
.el-button--cyan:hover {
  background: #48D1CC;
  border-color: #48D1CC;
  color: #FFFFFF;
}

.el-button--cyan {
  background-color: #20B2AA;
  border-color: #20B2AA;
  color: #FFFFFF;
}

/* text color */
.text-navy {
  color: #1ab394;
}

.text-primary {
  color: inherit;
}

.text-success {
  color: #1c84c6;
}

.text-info {
  color: #23c6c8;
}

.text-warning {
  color: #f8ac59;
}

.text-danger {
  color: #ed5565;
}

.text-muted {
  color: #888888;
}

/* image */
.img-circle {
  border-radius: 50%;
}

.img-lg {
  width: 120px;
  height: 120px;
}

.avatar-upload-preview {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 4px #ccc;
  overflow: hidden;
}

/* 拖拽列样式 */
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}

.top-right-btn {
  position: relative;
  float: right;
}

/******commom******/
// 列表搜索页面公共样式
.page-container {
  .tab-wrapper {
    height: 64px;
    background: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.10);
    margin-bottom: 8px;
    padding-top: 15px;
    .tab-container {
      margin: 0 16px;
    }
    .string {
      border: 1px solid #f0f0f0;
      position: relative;
      top: -16px;
    }

  }
  .form-wrapper {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.10);
    background: #f0f2f5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 24px 24px 0;
    background: #fff;
    .iform {
      flex: 1;
      .el-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
      .el-input__inner {
        height: 32px;
        line-height: 32px;
        border-radius: 0!important;
        box-shadow: 0 0 0 #fff!important;
      }
      .el-form-item {
        margin-bottom: 10px;
      }
      .el-form-item__label {
        text-align: right;
        vertical-align: middle;
        float: left;
        font-size: 14px;
        color: rgba(0,0,0,.55);
        line-height: 40px;
        padding: 0 12px 0 0;
        box-sizing: border-box;
      }
      .el-range-editor.el-input__inner {
        padding: 0;
        width: 100%;
      }
    }
    .btn-wrapper {
      min-width: 150px;
      margin: 3px 10px;
      .dash-control {
        margin: 0 5px;
        display: inline-block;
      }
    }
  }
  .table-dash {
    margin-top: 15px;
    padding: 0 16px 16px 16px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.10);
    .search-header {
      min-height: 64px;
      // line-height: 64px;
      // padding: 0 24px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      .search-result-count {
        color: #2082ee;
        font-size: 16px;
        font-family: PingFangSC-Medium;
      }
      .btn-group-block {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        .item-search {
          width: 40%;
          margin-right: 10px;
        }
      }
    }
    .table-wrapper {
      max-width: 100%;
      .el-table td {
        padding: 5px 0;
      }
      .more-btn {
        color: #1890ff;
      }
    }
  }
}

// 列表详情页面公共样式
.page-detail-container {
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.10);
  .title-block {
    padding: 13px 16px;
    background: #f5f6fa;
    height: 40px;
    label {
      font-size: 14px;
      font-weight: 500;
      color: #313131;
      border-left: 4px solid #2B85FF;
      padding-left: 8px;
    }
  }
  .content-block {
    padding: 2px 24px 24px 24px;
    .big-title {
      font-size: 20px;
      font-weight: 500;
      color: #2b85ff;
    }
    .items {
      font-size: 12px;
      font-weight: 400;
      color: #555555;
      display: inline-block;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin-right: 16px;
      }
    }
    .xrequired:before {
        content: "*";
        color: #fc354a;
        margin-right: 4px;
    }
    .line3 {
      margin-top: 22px;
      display: flex;
      .items {
        width: 33%;
        word-break: break-word;
        padding: 0 5px;
      }
      .btn-eye {
        margin-left: 12px;
        cursor: pointer;
      }
    }
    .line {
      display: flex;
      margin-top: 22px;
    }
    .table-detail {
      margin-top: 22px;
    }
  }
}
// 表单页面公共样式
.page-form-container {
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.10);
  .form-header {
    height: 156px;
    overflow-x: hidden;
    padding: 52px 0 0 32px;
    img {
      height: 100%;
    }
    .header-title {
      font-size: 26px;
      font-weight: 500;
      color: #313131;
      margin-bottom: 16px;
    }
    .header-tips {
      font-size: 12px;
      font-weight: 400;
      color: #5688d5;
      img {
        width: 16px;
      }
    }
  }
  .form-body {
    padding: 42px 0 80px 80px;
    .iform {
      width: 376px;
    }
    .btn-wrapper {
      margin-top: 40px;
    }
  }
}
.d-dialog {
  .el-upload {
    width: 100%;
  }
  .el-upload-dragger {
    width: 100%;
  }
}
.description-container {
  padding-bottom: 18px;
  .el-descriptions {
    &__header {
      padding: 18px 32px 15px;
      border-bottom: 1px solid #e9e9e9;
    }
    &__body {
      padding: 0 32px;
    }
    &--small {
      font-size: 14px;
    }
  }
  .title-tips {
    font-size: 14px;
    font-weight: 400;
  }
}

.breadcrumb-wrapper {
  margin-bottom: 16px;
  .el-breadcrumb__inner {
    color: rgba(0, 0, 0, 0.45);
  }
  .lastMatched {
    .el-breadcrumb__inner {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
.page-header {
  background-color: #f0f2f5 !important;
  padding: 16px 12px;
  .page-title {
    font-size: 18px;
    font-weight: 700;
    color: #313131;
  }
}
.text-delete-btn {
  color: #E44858 !important;
  &:hover {
    color: rgb(230, 92, 106) !important;
  }
}
.text-modify-btn {
 color: rgba(0,0,0,0.45) !important;
 &:hover {
  color: rgba(0,0,0,0.35) !important;
 }
}

.card-container {
  .grid-content {
    padding: 20px 20px 10px 20px;
  }
}


.el-tooltip {
  left: -3px !important;
}

.el-menu--collapse {
  width: 49px !important;
}

.el-submenu.is-opened .el-menu-item.is-active{
 border-right: 4px solid #2b85ff !important;
}

.app-wrapper .app-main {
  background-color: #f0f2f5 !important;
  margin: 0;
  padding: 0 16px;
}
.app-menu {
  height: 100%;
}
// 主界面样式
.uncollapse-content {
  width: calc(100% - 210px);
}
.el-pagination {
  margin: 12px 0 0 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.el-button {
  padding: 9px 9px;
}

@media screen and (max-width:600px) {
  .el-dialog{
    width: 90% !important;
  }
}

@media screen and (max-width: 600px) {
    .el-message {
      min-width: 300px !important;
    }
}

@media screen and (max-width: 600px) {
    .el-message-box{
      width: 90% !important;
    }
  }
